body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background: #1e1e1e;
    margin: 20px;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    text-align: left;
}

button {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

input {
    margin: 5px;
    padding: 5px;
}
