body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.post {
    background: #1e1e1e;
    margin: 20px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
}
button {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
